:root{
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:all 0.4s ease;
}

body{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.view{
   position: relative;
   overflow:hidden;
   outline:2px solid blue;
   /* background:rgba(255, 0, 0, 0.283); */
   z-index: 3;
}

.tile{
    outline:1px solid black;  
    font-size:40px;
    display: flex;
    justify-content: center;
    align-items: center;  
    z-index: 1;
}

.map{
    position: absolute;
    display:grid;
}

.player{
    z-index: 200;
    width:75px;
    height: 75px;
    background-color: rgba(0, 0, 255, 0.461);
    position: absolute;
}

.buttons{
    margin:10px;
    padding:10px;
    height:75px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background:rgba(0,0,0,0.234);
    border-radius:20px;
}

.buttons > button{
    width:55px;
    height:55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    border:none;
    outline: none;
}

.buttons > button > img{
    height:30px;
    width:30px;
}

